<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1>To Do List</h1>
    <br>
    <br>
    <h2>Add a ToDo</h2>
    <form action="/App/register" method="post">
        <input type="text" placeholder="Title" name="Title" required>
        <br><br>
        <input type="text" placeholder="description" name="description" required>
        <br><br>
        <input type="text" placeholder="completed" name="completed" required>
        <br><br>
    </form>
</body>
</html>